.typewriter {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: typing 2s steps(30) forwards;
  border-right: 3px solid rgba(255,255,255,0.7);
}

.typewriter.delay-2 {
  animation-delay: 2.2s;
}

@keyframes typing {
  0% { width: 0 }
  100% { width: 100% }
}
